@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:200,400,700,900&display=swap');
body {
    font-family: 'Hepta Slab', serif;
    background-image: linear-gradient(#848181, #403e3b);
    color: #ebebe7;
    margin: 0;
}